<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="excellFile" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="dbString" providerName="System.Data.SqlClient" connectionString="Data Source=VAIBHAV\SQL_SERVER;Initial Catalog=HR_ERP;Integrated Security=True"/>
  </connectionStrings>
  <excellFile>
    <add  key="excellSheetName" value="Employee_Intervention_Report"/>
    <add  key="addDate" value="true"/>
  </excellFile>
</configuration>